
body{
	margin: 0;
	padding: 0;
}

/*css header start*/

header{
	padding: 10px 0;
	background-color: #5EA2B5
}
.wrapper {
	overflow: hidden;
	width: 80%; 
	margin: 0 auto;


	
}

.logo {
	float: left;
	width: 18%;

	
}

.logo img {
	width: 100px;
}

.menu {
	float: right;
	width: 70%;
	margin-top: 32px;


}
.menu ul{
	float: right;
}
.menu ul li{
	float: left;
	list-style: none;
}
.menu ul li a{
	font-family: serif;
	font-size: 16px;
	font-weight: 400;
    color: white;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 20px;
	display: inline-block;

}

.menu ul li a:hover{
	color: #7E57C4;

.menu ul li:last-child a{
padding-right: 0;
}


/*css header end*/